*~
result
README.html
*.synctex
*.synctex.gz
*.aux
*.log
*.out
*.toc
*.bbl
*.bcf
*.brf
*.fdb_latexmk
.auctex-auto
.direnv
.idea/
*.DS_Store
node_modules/
*.pyc
*.png
*.pdf
*.jpg
*.jpeg
*.svg
*.eps
*.gif