*.aux
*.bcf
*.bbl
*.blg
*.brf
*.log
*.xml
*.out
*.toc
*.synctex
*.synctex.gz
*.pdf
!sciendo-logo.pdf
!by-nc-nd.pdf
*-blx.bib
latex.out
*.sage.py
*.kate-swp
scratch/
*.idx
*.ind
*.ilg
*.fls
*.fdb_latexmk
*~
